  <%= render "layouts/header" %>
  <div class=" mt-5 pt-4 top-div"></div>

  <div class="navbar-right">
      <div class="navbar-right-top">


          <div class="navbar-right-bottom px-2">
              <div class="py-3 px-0">
                  <p class="text-mute p-0 m-0 font-weight-bold">Who to follow</p>
              </div>
              <div class="right-bottom-bottom p-0 m-0">
                  <% @people.take(3).each do |people| %>
                  <div class="p-1 my-2 d-flex">
                      <div class="round-img mr-2" style="width: 80px;height:60px;background-image: url('<%= people.profile%>'),url('https://hajiri.co/uploads/no_image.jpg')"></div>

                      <div class="w-100 d-flex justify-content-between align-items-center">
                          <%= link_to "#{people.username.capitalize[0..8]}#{"..."if people.username.length > 8}", user_path(people), class:"w-50" %>
                          <%= felowbtn(people)%>
                      </div>
                  </div>
                  <% end %>


              </div>
          </div>

      </div>
  </div>
  <div class="content-page ">

      <div></div>
      <div>
          <%= render "layouts/shared/error_messages" %>
          <h1 class="p-3">Discover!</h1>

          <div class="show-tweets p-2">
              <% @tweets.each do |tweet| %>
              <div class="m-3 p-3 d-flex tweet-box">
                  <p class="like-con text-muted"><%=time(tweet)%></p>
                  <p class="text-muted date-time2"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= likecount(tweet)%></p>

                  <div class="date-time">
                      <%= likebtn(tweet) %>
                  </div>
                  <div class="round-img mr-3" style="width: 80px;height:80px;background-image: url('<%= tweet.author.profile%>'),url('https://hajiri.co/uploads/no_image.jpg')"></div>
                  <div class="d-flex flex-column">

                      <%= link_to tweet.author.username, user_path(tweet.author), class: "pt-2 color font-weight-bold" %>
                      <%= tweet.text %>

                  </div>
              </div>
              <%end%>

          </div>
      </div>
      <div></div>
  </div>