<nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to (image_tag "friend-logo.png", class:"img-logo"), root_path, class:"navbar-brand" %>
    <ul class="navbar-nav mr-auto">

    </ul>


    <div class="d-flex">
        <div class="fa-co mr-4">
            <i class="fa fa-2x fa-comments" aria-hidden="true"></i>
            <div id="men" class="dropdown-menu-message">
                <h5 class="mt-2 mb-0">Messages</h5>
                <%= link_to user_path(current_user), class: "dropdown-item top-link text-left" do %>
                <div class="d-flex">
                    <%= image_tag current_user.profile,class:"img-dropdown rounded-circle mr-3"  %>
                    <div class="d-flex flex-column">
                        <%= sender.username  %>
                        <p class="text-muted m-0"><%= messages.text %></p>
                    </div>
                </div>
                <% end %>
                <%= link_to edit_user_registration_path, class:"dropdown-item d-flex" do %>

                <i class="fa left-items fa-2x fa-wrench" aria-hidden="true"></i>
                <p class="m-0 p-1 ml-2 color">Settings</p>
                <%end %>
                <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item d-flex" do %>

                <i class="fa fa-2x color fa-sign-out" aria-hidden="true"></i>
                <p class="m-0 p-1 ml-2 color">Sign out</p>
                <%end %>

            </div>
        </div>

        <div class="fa-co mr-2">
            <i onclick="document.getElementById('menuu').classList.toggle('drop-none');document.getElementById('toggler').classList.toggle('rotate-class');" id="toggler" class="fa fa-2x fa-cog fa-co" aria-hidden="true"></i>
            <div id="menuu" class="dropdown-menu-right drop-none">
                <%= link_to user_path(current_user), class: "dropdown-item top-link text-left" do %>
                <div class="d-flex">
                    <%= image_tag current_user.profile,class:"img-dropdown rounded-circle mr-3"  %>
                    <div class="d-flex flex-column mt-3">
                        <%= current_user.username.capitalize.capitalize%>
                        <p class="text-muted m-0">See your profile</p>
                    </div>
                </div>
                <% end %>
                <%= link_to edit_user_registration_path, class:"dropdown-item d-flex" do %>

                <i class="fa left-items fa-2x fa-wrench" aria-hidden="true"></i>
                <p class="m-0 p-1 ml-2 color">Settings</p>
                <%end %>
                <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item d-flex" do %>

                <i class="fa fa-2x color fa-sign-out" aria-hidden="true"></i>
                <p class="m-0 p-1 ml-2 color">Sign out</p>
                <%end %>

            </div>
        </div>
    </div>
</nav>
<div class="navbar-left">
    <div class="navbar-left-top">
        <div class="text-center p-3 d-flex align-items-center">
            <div style="width: 80px;height:80px;background-image: url('<%= current_user.profile%>')" class=" mx-3 left-img">
            </div>
            <%= link_to current_user.username.capitalize, user_path(current_user), class: "color" %>
        </div>
        <div class="d-flex follower-con">
            <div class="p-3 follower-right col-6">
                <p class="m-0 text-center text-light"><%= current_user.followers.count%></p>
                <p class="m-0 text-center">Following</p>
            </div>
            <div class="p-3 col-6">
                <p class="m-0 text-center text-light"><%= follower(current_user).count%></p>
                <p class="m-0 text-center">Followers</p>

            </div>
        </div>

    </div>
    <div class="navbar-left-bottom flex-column d-flex">
        <%= link_to  root_path, class: "left-items" do %>
        <i class="fa p-3 left-items fa-2x fa-home" aria-hidden="true"></i> HOME
        <% end %>
        <%= link_to  users_path, class: "left-items" do %>
        <i class="fa p-3 left-items fa-2x fa-at" aria-hidden="true"></i> CONNECT
        <% end %>
        <%= link_to discover_path, class: "left-items" do %>
        <i class="fa p-3 left-items fa-2x fa-hashtag" aria-hidden="true"></i> DISCOVER
        <% end %>
        <%= link_to  user_path(current_user), class: "left-items" do %>
        <i class="fa p-3 pr-4 left-items fa-2x fa-user" aria-hidden="true"></i> PROFILE
        <% end %>
        <%= link_to  edit_user_registration_path, class: "left-items" do %>
        <i class="fa p-3 left-items fa-2x fa-wrench" aria-hidden="true"></i> SETTINGS
        <% end %>
    </div>
</div>